body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url(../../../images/background.jpg);
    background-attachment: fixed;
    color: #000000;
}

.toplabel{
    padding-top:2%;
    margin:  0 auto;
    text-align: center;
    font-size: 16pt;
}

.table-label{
    margin:  0 auto;
    text-align: center;
    font-size: 14pt;
}

.form-text{
    font-size: 12pt;
}

.table-edit{
    width: 60%;
    margin: auto;
}

.correction{
    padding-top:2%;
    margin:  0 auto;
}

.btn-width{

    height:auto;
    width:150px;
}

.btn-width-create{
    height:auto;
    width:250px;
    font-size: 12pt;
}

.input-width{
    width:150px;
}

.input-width-new{
    width:250px;
}

.input-width-id{
    width:50px;
}
.td-width1{
    width: 400px;
    margin: auto;
    padding-top: 20px;
}
.td-width2{
    width: 300px;
    margin: auto;
}

.roleEdit{
    padding: 5px;

    border: solid 1px #517B97;

    outline: 0;

    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF));

    background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px);

    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    font-size: 12pt;
    width: 150px;

}

.selectrole{
    padding: 5px;

    border: solid 1px #517B97;

    outline: 0;

    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF));

    background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px);

    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;

    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    font-size: 12pt;
    width: 250px;

}